@using UCABPagaloTodoWeb.Models.Views;
@model VerUsuariosViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UCABPagaloTodoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MenuAdministradorStyle.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav>
            <div class="logo-wrap">
                <img src="~/img/logo.png" class="logo">
                <div class="user-type">Administrador</div>
            </div>
            <ul>
                <li id="inicio-link">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li id="usuarios-link">
                    <a asp-area="" asp-controller="Login" asp-action="Login">Iniciar Sesión</a>
                </li>
                <li id="acerca-de-link">
                    <a asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                </li>
                <li id="archivos-link">
                    <a asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                </li>
            </ul>
            <img src="~/img/user.jfif" class="user-pic" onclick="toggleMenu()">
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="uer-info">
                        <img src="~/img/user.jfif">
                        <h3>@Model.obtenerUsuario()</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="~/img/profile.png">
                        <p>Editar Perfil</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="~/img/setting.png">
                        <p>Configuración & Privacidad</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="~/img/help.png">
                        <p>Ayuda & Soporte</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="~/img/logout.png">
                        <p>Cerrar sesión</p>
                        <span></span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - UCABPagaloTodoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/MenuAdministradorScript.js" sp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
